pipeline/pl_file_ingestion_child.json
{
	"name": "pl_file_ingestion_child",
	"properties": {
		"activities": [
			{
				"name": "gm_get_source_files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_landing_folder_child",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.source_container",
								"type": "Expression"
							},
							"directory_name": {
								"value": "@pipeline().parameters.source_folder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "fe_process_files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "gm_get_source_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('gm_get_source_files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "cp_source_to_bronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_adls_landing_file_child",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.source_container",
											"type": "Expression"
										},
										"directory_name": {
											"value": "@pipeline().parameters.source_folder",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_bronze_file_child",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.destination_container",
											"type": "Expression"
										},
										"directory_name": {
											"value": "@pipeline().parameters.destination_folder",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Insert_Audit_Record",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "fe_process_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "sql_nyc_taxi_dev_001",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "config_id",
									"type": "Int32",
									"value": "@pipeline().parameters.config_id",
									"direction": "Input"
								}
							],
							"type": "NonQuery",
							"text": "INSERT INTO dbo.pipeline_audit\n(\n    config_id,\n    pipeline_status,\n    created_date\n)\nVALUES\n(\n    @config_id,\n    'Success',\n    GETDATE()\n);"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"source_container": {
				"type": "string"
			},
			"source_folder": {
				"type": "string"
			},
			"destination_container": {
				"type": "string"
			},
			"destination_folder": {
				"type": "string"
			},
			"file_type": {
				"type": "string"
			},
			"config_id": {
				"type": "int"
			}
		},
		"annotations": []
	}
}