pipeline/pl_metadata_driven_ingestion.json
{
	"name": "pl_metadata_driven_ingestion",
	"properties": {
		"activities": [
			{
				"name": "lookup_config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "config_table_pl_metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Config",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "call_child_pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_file_ingestion_child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source_container": "@item().source_container",
									"source_folder": "@item().source_folder",
									"destination_container": "@item().destination_container",
									"destination_folder": "@item().destination_folder",
									"file_type": "@item().file_type",
									"config_id": "@item().config_id"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}